build
CMakeLists.txt
*.lo
*.o
*.in
*.m4
*.Plo
*.Po
.dirstamp
*.status
*.log
*.0
*.1
*.2
*.Po
Makefile
config.h
configure
libspider.la
libtool
stamp-h1
libspider.*
ar-lib
compile
config.h.in~
config.guess
requests
config.sub
depcomp
install-sh
ltmain.sh
missing
spider
.vscode
